---
layout: default
---

<!-- Page h1 -->
<!-- ======= -->
<header class="header-hidden">
  <h1>Pewen Página de Inicio</h1>
</header>


<!-- Banner -->
<!-- ====== -->
<section id="banner">
  <header class="header-hidden">
    <h2>Banner inicial</h2>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<p class="banner-title">Pewen</p>
	<p class="banner-subtitle">Soluciones <span class="typewrite" data-period="2000" data-type='[ "Innovadoras", "Científicas", "Creativas", "Modernas"]'></span> a tus Problemas.</p>
      </div><!--/col -->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/#banner -->


<!-- What we do -->
<!-- ========== -->
<section id="weDo">
  <header class="section-title">
    <h2>Lo Que Hacemos</h2>
  </header>
  
  <div class="container-fluid">
    <div class="row">

      <!-- Web design -->
      <!-- ========== -->
      <div class="col-sm-6 col-md-4">
	<div class="box-def">
	  <h3 class="box-title">Diseño Web</h3>
	  <p>Nuestro objetivo en el desarrollo web es que nuestros clientes estén orgullosos de su sitio (<strong>ellos lo son todo!</strong>). Estamos al día con las nuevas tendencias de diseño web, listas para aplicarlas a tu proyecto. Pero también entendemos que el gusto es subjetivo y tenemos la capacidad de interpretar las necesidades de nuestros clientes.</p>
	  <p>Nuestros servicios de diseño web incluyen:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Interfaz y diseño web</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Integración con las redes sociales</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Análisis de performance</p>
		</li>
	      </ul>
	    </div><!--/col -->
	    
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Diseño de blog</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Desarrollo de contenido</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Mantenimiento de sitio web</p>
		</li>
	      </ul>
	    </div><!--/col -->
	  </div><!--/row box-list -->
	  
	</div><!--/box-def -->
      </div><!--/col -->

      
      <!-- Web App -->
      <!-- ======= -->
      <div class="col-sm-6 col-md-4">
	<div class="box-def">
	  <h3 class="box-title">Aplicaciones Web</h3>
	  <p>Complejidad entregada en una solución simple — la creación de aplicaciones que se adapten a los requerimientos de tu empresa, cumpliendo con todos los estándares web.</p>
	  <p>Nuestras herramientas de vanguardia nos permite realizar la mejor solución para tu empresa. </p>
	  <p>Nuestros desarrollos de aplicaciones web incluyen:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Aplicaciones web personalizadas</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Integración de mapas dinámicos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Estandar webs</p>
		</li>
	      </ul>
	    </div><!--col -->
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Desarrollo de APIs</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Desarrollo de bots</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Sitios web Mobile-friendly</p>
		</li>
	      </ul>
	    </div><!--col -->  
	  </div><!--row box-list-->
	  
	</div><!--/box-def -->
      </div><!--/col -->


      <!-- Data Visualization -->
      <!-- ================== -->
      <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
	<div class="box-def">
	  <h3 class="box-title">Adquisición, Análisis y Visualización de Datos</h3>
	  <p>Desde la adquisición de los datos, hasta la comunicacion de los resultados, pasando por la limpieza, el tratamiento/procesamiento y visualización de los mismo.</p>
	  <p>Además, los combinamos con gráficos interactivos los cuales te van a permitir filtrar y analizar en mayor profundidad todos tus datos</p>
	  <p>Nuestros trabajos se centran en:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Web scraping</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Limpieza y procesamiento de datos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Análisis estadísticos</p>
		</li>
	      </ul>
	    </div><!--col -->
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones estáticas</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones dinámicas/interactivas</p>
		</li>
	      </ul>
	    </div><!--col -->  
	  </div><!--row box-list-->
	  
	</div><!--/box-def -->
      </div><!--/col -->

    </div><!--/row -->
  </div><!--/container-fluid -->


  <!-- Counters -->
  <!-- ======== -->
  <div id="counters">
    <div class="container-fluid">
      <div class="row">

	<div class="col-sm-3">
	  <div class="counter-box">
	    <i class="fa fa-code" aria-hidden="true"></i>
	    <p><span id="linesCode">250000</span> Lineas de código</p>
	  </div>
	</div><!--/col -->

	<div class="col-sm-3">
	  <div class="counter-box">
	    <i class="fa fa-code" aria-hidden="true"></i>
	    <p><span id="linesCode2">250000</span> Lineas de código</p>
	  </div>
	</div><!--/col -->

	<div class="col-sm-3">
	  <div class="counter-box">
	    <i class="fa fa-code" aria-hidden="true"></i>
	    <p><span id="linesCode3">250000</span> Lineas de código</p>
	  </div>
	</div><!--/col -->

	<div class="col-sm-3">
	  <div class="counter-box">
	    <i class="fa fa-code" aria-hidden="true"></i>
	    <p><span id="linesCode4">250000</span> Lineas de código</p>
	  </div>
	</div><!--/col -->

      </div><!--/row -->
    </div><!--/container-fluid -->
  </div><!--#counters -->


  
  <div class="container-fluid">
    <div class="row">
      
      <!-- Open Data -->
      <!-- ========= -->
      <div class="col-sm-6 col-md-4">
	<div class="box-def">
	  <h3 class="box-title">Datos Abiertos</h3>
	  <p>Nuestro objetivo en el desarrollo web es que nuestros clientes estén orgullosos de su sitio web (<strong>ellos lo son todo!</strong>). Estamos al día con las nuevas tendencias de diseño web, listas para aplicarlas a tu proyecto. Pero también entendemos que el gusto es subjetivo y tenemos la capacidad de interpretar las necesidades de nuestros clientes.</p>
	  <p>Nuestros servicios de diseño web incluyen los siguientes:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Web scraping</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Limpieza y procesamiento de datos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Análisis estadísticos</p>
		</li>
	      </ul>
	    </div><!--col -->
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones estáticas</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones dinámicas/interactivas</p>
		</li>
	      </ul>
	    </div><!--col -->  
	  </div><!--row box-list-->

	</div><!--/box-def -->
      </div><!--/col -->

      
      <!-- Numeric Methods -->
      <!-- =============== -->
      <div class="col-sm-6 col-md-4">
	<div class="box-def">
	  <h3 class="box-title">Métodos Numéricos</h3>
	  <p>Como estudiantes de una carrera de ciencias exactas, poseemos conocimiento y experiencia en el desarrollo de modelos físicos computacionales que nos ayudan a comprender y desarrollar la solución que ustedes necesitan.</p>
	  <p>Entre nuestras herramientas científicas, nos destacamos en:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>High-performance computing</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Modelado de sistemas físicos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Simulaciones físicas</p>
		</li>
	      </ul>
	    </div><!--col -->
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Métodos numéricos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Análisis de grandes volúmenes de datos</p>
		</li>
	      </ul>
	    </div><!--col -->  
	  </div><!--row box-list-->

	</div><!--/box-def -->
      </div><!--/col -->

      <!-- Courses -->
      <!-- ======= -->
      <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
	<div class="box-def">
	  <h3 class="box-title">Cursos - Talleres</h3>
	  <p>Desde la adquisición de los datos, hasta la comunicacion de los resultados. Pasando por la limpieza, el tratamiento/procesamiento y visualización de los mismo.</p>

	  <p>Nuestros trabajos se centran en:</p>

	  <div class="row box-list">
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Web scraping</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Limpieza y procesamiento de datos</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Análisis estadísticos</p>
		</li>
	      </ul>
	    </div><!--col -->
	    <div class="col-xs-12 col-sm-6">
	      <ul>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones estáticas</p>
		</li>
		<li>
		  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
		  <p>Visualizaciones dinámicas/interactivas</p>
		</li>
	      </ul>
	    </div><!--col -->  
	  </div><!--row box-list-->
	  
	</div><!--/box-def -->
      </div><!--/col -->

    </div><!--/row -->
  </div><!--/container-fluid -->
</section>


<!-- Our's work -->
<!-- ========== -->
<section id="portfolio">
  
  <header class="section-title">
    <h2>Nuestros Trabajos</h2>
  </header>
  
  <div class="container-fluid">

    <!-- Filters buttons -->
    <ul class="filter-list">
      <li class="filter btn active" data-filter="todos">Todos</li>
      <li class="filter btn" data-filter="diseño web">Sitios Webs</li>
      <li class="filter btn" data-filter="app web">Aplicaciones Webs</li>
      <li class="filter btn" data-filter="datos">Ciencia de Datos</li>
      <li class="filter btn" data-filter="simulaciones">Métodos Numérico</li>
      <li class="filter btn" data-filter="cursos">Cursos - Talleres</li>
    </ul>
    
    <div class="row">
    </div><!-- row -->
  </div><!--/container -->
</section>


<!-- Full description of each work -->
<!-- ============================= -->
<section id="description">
  <header class="header-hidden">
    <h2>Descripción completa de los trabajos</h2>
  </header>
  
  {% for product in site.data.products %}
  <article class="full-description" id="{{ product.id }}">
    <div class="container">
      <div class="row">
	<!-- Close button -->
	<a href="javascript:void(0)" class="closebtn"
	   onclick="closePortfolioInfo('{{ product.id }}')">&times;</a>

	<header class="description-head">
	  <h3>{{ product.title }}</h3>
	</header>

	<!-- Tags -->
	<div class="descriptions-tags">
	  <div class="tag">
	    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    <span>Cliente: {{ product.client }}</span>
	  </div>
	  <div class="tag">
	    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    <span>Categorías: {{ product.tags }}</span>
	  </div>
	  <div class="tag">
	    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    <span>
	      <a href="{{ product.link }}" target="_blank">
		Ver el sitio
	      </a>
	    </span>
	  </div>

	  {% if product.link_material %}
	  <div class="tag">
	    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    <span>
	      <a href="{{ product.link_material }}" target="_blank">
		Material del curso
	      </a>
	    </span>
	  </div>
	  {% endif %}
	  
	</div><!--/description-tags -->

	<!-- Description -->
	<div class="col-sm-6 description-long">
	  <h4>Descripción del proyecto</h4>
	  <p>{{ product.long_description }}</p>
	</div><!--/col -->

	<!-- Image -->
	<div class="col-sm-6">
	  <img class="img-responsive" src="{{ product.img }}"
	       style="width: 100%;" />
	</div><!--/col -->
	
      </div><!--/row -->
    </div><!--/container -->
  </article>
  {% endfor %}

</section><!--/#portfolioFullDescription -->



<!-- Community -->
<!-- ========= -->
<section id="community">
  
  <div class="container">
    <div class="row">
      
      <div class="col-sm-6 col-md-4" style="padding-top:10%;">
	<div class="box-def">
	  <h3 class="box-title">La Comunidad!</h3>
	  <p>En <strong>Pewen</strong> somos muy apasionado por apoyar y devolver a la comunidad. Nos encanta contribuir con el código libre tanto como nos gusta usar código libre. Si está buscando ayuda para un evento local, desarrollo de una aplicación o sitio web para alguna organización, ponéte en contacto con nosotros, tal vez podamos ayudarle!</p>
	</div><!--/box-def -->
      </div><!--/col -->
      
    </div><!--/row -->
  </div><!--/container -->
</section>
